# 1) HTTPS
api.pairqr.app {
  encode gzip
  reverse_proxy pairqr:3000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
  }
}


api-rh.pairqr.app {
  encode gzip
  reverse_proxy localhost:8000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
  }
}



# 2) HTTP 
http://api.pairqr.app {
  route /health {
    respond "ok" 200
  }
  redir https://api.pairqr.app{uri}
}

http://api-rh.pairqr.app {
  route /health {
    respond "ok" 200
  }
  redir https://api-rh.pairqr.app{uri}
}
